{% load sekizai_tags i18n wiki_tags static %}
{% block wiki_navbar_search %}
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" id="wiki-search-form" method="GET" action="{% spaceless %}
              {% if article or urlpath %}
                {% url 'wiki:search' article_id=article.id path=urlpath.path %}
              {% else %}
                {% url 'wiki:search' %}
              {% endif %}
            {% endspaceless %}"
          >
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="{% spaceless %}
                {% if article or urlpath %}
                   {% trans "Search from current entry..." %}
                {% else %}
                  {% trans "Search whole wiki..." %}
                {% endif %}
              {% endspaceless %}" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
          </div>
{% endblock %}
