{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_pagetitle %}{{ article.current_revision.title }}{% endblock %}

{% block wiki_breadcrumbs %}
{% include "wiki/includes/breadcrumbs_truncated.html" %}
{% endblock %}

{% block wiki_contents %}

  <div id="article-container">
    {% block atricle_title_and_menu %}
    {% block article_title %}
    <h1 id="article-title">{{ urlpath.item_type|title }}: {{ article.current_revision.title|title }}</h1>
    {% endblock article_title %}
    <ul class="nav nav-pills" id="article-menu">
      {% block article_menu %}
        {% if user.is_superuser %}
          {% include "wiki/includes/article_menu.html" %}
        {% endif %}
      {% endblock article_menu %}

    </ul>
    {% endblock atricle_title_and_menu %}
    <div>
      {% block wiki_contents_tab %}
      {% endblock %}
    </div>
  </div>

{% block tags %}
<div class="tags">
  <p> {% trans "Tags" %}: </p>
        <ul class="list-inline">
          {% for tag in tags %}
            <li><a href="{% url 'wiki:tagged' path=urlpath.root_type slug=tag.slug %}"><span class="label label-default">{{ tag.name }}</span></a></li>
          {% empty %}
            <li>No Tags</li>
          {% endfor %}
        </ul>
</div>
{% endblock tags %}

{% endblock wiki_contents%}

{% block wiki_footer_prepend %}
  <p style="margin-bottom: 10px;"><em>{% trans "This article was last modified:" %} {{ article.current_revision.modified }}</em></p>
{% endblock %}
