{% extends "wiki/article.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_contents_tab %}

  {% wiki_render article %}

  {% if urlpath.root_type == 'npb' and urlpath.item_type == 'article' %}
    {% if urlpath.npb_file %}
      <iframe src="/static/js/viewerjs/index.html#../../../media/{{ urlpath.npb_file }}" width="700" height="550" allowfullscreen="" webkitallowfullscreen=""></iframe>
    {% endif %}
  {% endif %}

{% if urlpath.root_type == 'npb' %}
<div>
  <a href="#">{% trans 'Add to archive' %}</a>
</div>
{% endif %}

{% endblock %}
